# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
Punish_Reward/__pycache__/
__pycache__/
employee/__pycache__/
employee/migrations/__pycache__/
manager/__pycache__/
manager/migrations/__pycache__/
master/__pycache__/
master/migrations/__pycache__/
