{% extends 'manager/manager.html' %}


{% block special_static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/form.css" %}"/>
{% endblock special_static %}


{% block content %}
    <h2 class="page_title">افزودن ارزیابی کننده</h2>
    <div class="col-md-8 center_view">
        <div class="form-area">
            <form role="form">
                <br style="clear:both">

                <div class="form-group">
                    <label for="punish_reward"> ارزیابی کننده
                    </label>
                    <select name="var1" class="form-control">
                        <option value="">مهدیه بهروزی فر</option>
                        <option value="">صابره فائز</option>
                        <option value="">حانیه برغی</option>
                    </select>
                    </select>
                </div>


<div class="form-group">
                    <label for="name">واحد</label><input type="number" class="form-control" id="name" name="name"/>
                </div>
                <button type="button" id="submit" name="submit" class="btn btn-default btn-lg">ذخیره</button>
                <a href="{% url 'manager:criterion_page' %}" type="button" class="btn btn-default btn-lg">بازگشت</a>
            </form>
        </div>
    </div>
{% endblock content %}
