{% extends 'manager/manager.html' %}


{% block special_static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/form.css" %}"/>
{% endblock special_static %}


{% block content %}
    <h2 class="page_title">تعیین روش پاداش و تنبیه برای معیار همکاری1</h2>
    <div class="col-md-8 center_view">
        <div class="form-area">
            <form role="form">
                <br style="clear:both">

                <div class="form-group">
                    <label for="punish_reward"> پاداش
                    </label>
                    <select name="punish_reward" class="form-control">
                        <option value="reward">افزایش حقوق</option>
                        <option value="punish">جایزه</option>
                    </select>

                    <div class="form-group">
                    <label for="punish_reward"> تنبیه
                    </label>
                    <select name="punish_reward" class="form-control">
                        <option value="reward">کاهش حقوق</option>
                        <option value="punish">اضافه کاری</option>
                    </select>
                </div>


                <button type="button" id="submit" name="submit" class="btn btn-default btn-lg">ذخیره</button>
                <a href="{% url 'manager:criterion_page' %}" type="button" class="btn btn-default btn-lg">بازگشت</a>
            </form>
        </div>
    </div>
{% endblock content %}
