{% extends 'manager/manager.html' %}


{% block special_static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/form.css" %}"/>
{% endblock special_static %}


{% block content %}
    <h2 class="page_title">بازنگری درخواست</h2>

    <div class="col-md-5">
        <div class="form-area">
            <form role="form">
                <br style="clear:both">
                <div class="form-group">
                    <label for="name">نام کارمند</label><input type="text" class="form-control" id="name" name="name" placeholder="فائزه" disabled/>
                </div>
                <div class="form-group">
                    <label for="title">عنوان درخواست</label><input type="text" class="form-control" id="title" name="title" placeholder="نظم زمانی" disabled/>
                </div>
                <div class="form-group">
                    <label for="reason">دلیل درخواست </label><input type="text" class="form-control" id="reason" name="reason" placeholder="فائزه" disabled/>
                </div>
                <div class="form-group">
                    <label for="evaluator1">ارزیاب 1
                    </label>
                    <select name="evaluator1" class="form-control">
                        <option value="first">نفر اول</option>
                        <option value="second">نفر دوم</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="evaluator2">ارزیاب 2
                    </label>
                    <select name="evaluator2" class="form-control">
                        <option value="third">نفر سوم</option>
                        <option value="forth">نفر چهارم</option>
                    </select>
                </div>

                <button type="button" id="submit" name="submit" class="btn btn-default btn-lg">رد</button>
                <button type="button" id="submit" name="submit" class="btn btn-default btn-lg">ثبت</button>
                <a href="{% url 'manager:request_page' %}" type="button" class="btn btn-default btn-lg">بازگشت</a>
            </form>
        </div>
    </div>
{% endblock content %}
