{% extends 'manager/manager.html' %}

{% block special_static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/form.css" %}"/>
{% endblock special_static %}



{% block content %}
    <h2 class="page_title">ویرایش اطلاعات</h2>
    <div class="col-md-5">
        <div class="form-area">
            <form role="form">
                <br style="clear:both">
                <div class="form-group">
                    <label for="name">نام</label><input type="text" class="form-control" id="name" name="name"/>
                </div>
                <div class="form-group">
                    <label for="last-name">نام خانوادگی</label><input type="text" class="form-control" id="last-name"
                                                                      name="last-name"/>
                </div>
                <div class="form-group">
                    <label for="code">کد پرسنلی</label><input type="text" class="form-control" id="code"
                                                              name="code">
                </div>
                <div class="form-group">
                    <label for="subject">رمز</label><input type="password" class="form-control" id="subject">
                </div>
                <button type="button" id="submit" name="submit" class="btn btn-default btn-lg">ذخیره</button>
                <a href="{% url 'master:employees_page' %}" type="button" class="btn btn-default btn-lg">بازگشت</a>
            </form>
        </div>
    </div>
{% endblock content %}