{% extends 'main.html' %}

{% block special_static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>

{% endblock special_static %}


{% block menu %}
    <li>
        <a href="#">واحد</a>
          <ul class="noJS">
            <li><a href="{% url 'manager:view_employees' %}">مشاهده کارمندان واحد</a></li>
            <li><a href="{% url 'manager:view_review_requests' %}">بررسی درخواست بازنگری</a></li>
          </ul>
    </li>
    <li>
        <a href="#">معیار</a>
          <ul class="noJS">
            <li><a href="{% url 'manager:add_criterion' %}">افزودن معیار</a></li>
              <li><a href="{% url 'manager:criterion_page' %}">تعیین روش ارزیابی معیار</a></li>

          </ul>
    </li>
    <li><a href="/logout/">خروج</a></li>
{% endblock menu %}




