{% extends 'manager/manager.html' %}


{% block special_static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/table.css" %}"/>
{% endblock special_static %}


{% block content %}
    <h2 class="page_title"></h2>

    <table>
        <thead>
        <tr>
            <th class='prop__name type' data-prop-name="name">نام کارمند</th>
            <th class='prop__name desc' data-prop-name='type'>نام درخواست</th>
            <th class='prop__name action' data-prop-name='action'>جزییات درخواست</th>
        </tr>
        </thead>
        <tbody>
        <tr class="odd">
            <td class="prop__value" data-prop-name="name">فائزه</td>
            <td class="prop__value" data-prop-name="type">نظم زمانی</td>
            <td class="prop__value" data-prop-name="action">
            <a href="{% url 'manager:each_request' %}" class="imglink">
                <img src="{% static 'images/review.png' %}"
                                                       height="30" width="30"></a>
            </td>
        </tr>
        <tr class="even">
            <td class="prop__value" data-prop-name="name">صابره</td>
            <td class="prop__value" data-prop-name="type">همکاری</td>
            <td class="prop__value" data-prop-name="action">
                <a href="{% url 'manager:each_request' %}" class="imglink"><img src="{% static 'images/review.png' %}"
                                                       height="30" width="30"></a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock content %}