@font-face {
  font-family: 'B Yekan';
  src: url('/static/fonts/BYekan.eot?#') format('eot'), url('/static/fonts/BYekan.woff') format('woff'), url('/static/fonts/BYekan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BMitra';
  src: url('/static/fonts/BMitra.eot?#') format('eot'), url('/static/fonts/BMitra.woff') format('woff'), url('/static/fonts/BMitra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BTitrBold';
  src: url('../fonts/BTitrBold.eot?#') format('eot'), url('/static/fonts/BTitrBold.woff') format('woff'), url('/static/fonts/BTitrBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  min-height: 100%;
  width: 100%;
  font-family: "B Yekan", serif;
  direction: rtl;
  font-size: medium;

  body {
    min-height: 100%;
    width: 100%;
    text-align: right;

  }
}