/* make sidebar nav vertical */
body, html {
  display: flex;
  width: 100%;
  min-height: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  .container {
    margin: 0;
    padding: 0;
    width: 100%;
    background: #555;
    color: #fff;
    .main_content {
      display: grid;
      .btn-default {
        padding: 10px;
        float: left;
        max-width: 20%;
        margin: 5% auto;
      }

    }
  }
  .page_title {
    padding: 25% 5% 0 5%;
  }
}

@media (min-width: 768px) {
  .container {
    .full {
      height: 100%;
    }
    .main_menu {
      float: right;
    }
    .main_content {
      float: right;
    }
  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}