
table {

    border-collapse: collapse;
    min-width: 23em;
    width: 80%;
    max-width: 56em;
    font-size: 120%;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0 0 .5em #000;
    padding: .5em 1em;
}

th, td {
    text-align: center;
    padding: 8px;

}


tr{
  background-color: #333;
}
th {
  background: linear-gradient(#606062, #28262b);
  font-weight: 700;
}
td{
  color: white;
}
tr:nth-child(even){background-color: #f2f2f2;
  td{
    color: black
  }
}

.hide{
  display: none;
}

.show{
  display: inline;
}
#actions{
  position: absolute;
  color: black;
  width: 20%;
  margin: 0 auto;
  background-color:#f2f2f2;
  box-shadow: 0 0 .5em #000;
  z-index: 10;
  top: 83px;
    left: 40%;
  list-style-type: none;
}
.action{
  padding: 5px;
}
.cont{
  position: relative;
}
#criterion{
  background-color: #606062;
  color: white;
}

.in_line_table{
  tr{
    background-color:inherit;
    td{
      color: inherit;
    }

  }
    min-width: 0;
    width: initial;
    max-width: none;
    font-size: 100%;
    margin: 0 auto;
    box-shadow: none;
    padding: 0px;
}