<!DOCTYPE html>

{% extends 'base.html' %}
{% block title %}
    <title>صفحه ورود به سامانه</title>
{% endblock %}

{% block special_static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/user/login.css" %}"/>
{% endblock %}

{% block body_block %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-7">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong class="form_title">ورود به سامانه</strong>

                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" action="master">

                            <span class="text-danger"
                                  style="text-align:center;">کاربر در سامانه ثبت نام نشده است.</span>
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputEmail3"
                                           required="">
                                </div>
                                <label for="inputEmail3" class="col-sm-3 control-label">کد پرسنلی</label>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="inputPassword3"
                                           required="">
                                </div>
                                <label for="inputPassword3" class="col-sm-3 control-label">رمز</label>
                            </div>

                            <div class="form-group last">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-success btn-sm inter_button" onclick="">ورود
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body_block %}