{% extends 'master/master.html' %}

{% block special_static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/form.css" %}"/>
{% endblock special_static %}




{% block content %}
    <h2 class="page_title">ویرایش تنبیه و تشویق</h2>

    <div class="col-md-5">
        <div class="form-area">
            <form role="form">
                <br style="clear:both">
                <div class="form-group row">
                    <label> نوع
                    </label>
                    <select name="punish_reward" class="form-control">
                        <option value="reward">تشویق</option>
                        <option value="punish">تنبیه</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-sm-3"> توضیحات
                    </label>
                    <textarea class="col-sm-12 form-control" rows="2"></textarea>
                </div>

                <button type="button" id="submit" name="submit" class="btn btn-default btn-lg">ذخیره</button>
                <a href="{% url 'master:punish_page' %}" type="button" class="btn btn-default btn-lg">بازگشت</a>
            </form>
        </div>
    </div>
{% endblock content %}