{% extends 'master/master.html' %}

{% block special_static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/table.css" %}"/>
{% endblock special_static %}





{% block content %}
    <h2 class="page_title">تنبیه و تشویق</h2>

    <table>
        <thead>
        <tr>
            <th class='prop__name type' data-prop-name='type'>نوع</th>
            <th class='prop__name desc' data-prop-name='description'>نام</th>
            <th class='prop__name action' data-prop-name='action'></th>
        </tr>
        </thead>
        <tbody>
        <tr class="odd">
            <td class="prop__value" data-prop-name="type">تشویق</td>
            <td class="prop__value" data-prop-name="description">ترفیع رتبه</td>
            <td class="prop__value" data-prop-name="action">
                <a href="#" class="imglink"><img class="ion-delete" src="{% static 'images/delete.png' %}"
                                                       height="20" width="20"></a>
                <a href="{% url 'master:edit_punish' %}" class="imglink"><img src="{% static 'images/edit.png' %}" height="20" width="20"
                                                     class="ion-edit"></a>
            </td>
        </tr>
        <tr class="even">
            <td class="prop__value" data-prop-name="type">تنبیه</td>
            <td class="prop__value" data-prop-name="description">کاهش حقوق</td>
            <td class="prop__value" data-prop-name="action">
                <a href="#" class="imglink"><img class="ion-delete" src="{% static 'images/delete.png' %}"
                                                       height="20" width="20"></a>
                <a href="{% url 'master:edit_punish' %}" class="imglink"><img src="{% static 'images/edit.png' %}" height="20" width="20"
                                                     class="ion-edit"></a>
            </td>
        </tr>
        <tr class="odd">
            <td class="prop__value" data-prop-name="type">تشویق</td>
            <td class="prop__value" data-prop-name="description">جایزه</td>
            <td class="prop__value" data-prop-name="action">
                <a href="#" class="imglink"><img class="ion-delete" src="{% static 'images/delete.png' %}"
                                                       height="20" width="20"></a>
                <a href="{% url 'master:edit_punish' %}" class="imglink"><img src="{% static 'images/edit.png' %}" height="20" width="20"
                                                     class="ion-edit"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="{% url 'master:add_punish' %}" type="button" class="btn btn-default btn-lg">افزودن روش جدید</a>
{% endblock content %}

