{% extends 'master/master.html' %}





{% block special_static %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/table.css" %}"/>
{#    <link rel="stylesheet" type="text/css" href="{% static "css/table_5_columns.css" %}"/>#}
    <script>
    $(function() {
        $("tr").click(function(e) { // limit click to children of mainmenue
            $("#actions").removeClass('hide').addClass('show');
            var name = $(this).find('td').get(1).innerHTML;
            console.log(name);
            $('.overlay').css("opacity", "0.5");
            document.getElementById('criterion').innerHTML = name;
            e.stopPropagation();
        });
        $(document).on('click','*',function(e){
            e.stopPropagation();

            $("#actions").removeClass('show').addClass('hide');
            $('.overlay').css("opacity", "1");
        });


    });
    </script>
{% endblock special_static %}


{% block content %}
    <h2 class="page_title">لیست ارزیابی کنندگان</h2>
    <div class="cont">
        <table class="overlay">
        <tr>
            <th>ردیف</th>
            <th>واحد</th>
            <th>کدپرسنلی</th>
            <th>نام</th>
            <th>نام خانوادگی</th>
        </tr>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>93105512</td>
                <td>مهدیه</td>
                <td>بهروزی فر</td>
            </tr>
            <tr>
                <td>2</td>
                <td>1</td>
                <td>93111558</td>
                <td>صابره</td>
                <td>فائز</td>
            </tr>
            <tr>
                <td>3</td>
                <td>1</td>
                <td>93105494</td>
                <td>حانیه</td>
                <td>برغی</td>
            </tr>

    </table>
<div id="actions" class="hide">
    <li id="criterion">
    </li>
    <li class="action"><a href="{% url 'manager:choose_evaluation_way' %}">تعیین روش ارزیابی</a></li>
    <li class="action">
    ویرایش روش ارزیابی
    </li>
    <li class="action">
    تعیین روش پاداش و تنبیه
    </li>
    <li class="action">
    ویرایش روش پاداش و تنبیه
    </li>
</div>
    </div>

{% endblock content %}
